/MANIFEST
/MANIFEST.bak
/MANIFEST.SKIP
/META.*
/MYMETA.*
/Makefile
/Makefile.old
/README
/blib/
/pm_to_blib
/cover_db/
/Distar
/_eumm/
*~
*#
.#*
/Test-NoWarnings-*/
/Test-NoWarnings-*.tar
/Test-NoWarnings-*.tar.gz
